<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <p:dataTable id="bairros" var="bairro" value="#{bairroManagedBean.bairros}">
                    <p:column headerText="Id">
                        <h:outputText value="#{bairro.idBairro}" />
                    </p:column>
                    
                    <p:column headerText="Nome">
                        <h:outputText value="#{bairro.nomeBairro}" />
                    </p:column>
                    
                    <p:column headerText="Excluir">
                        <p:commandLink actionListener="#{bairroManagedBean.ExcluirBairro(bairro)}" >
                            <p:confirm header="Confirmação" message="Você tem Certeza?" icon="ui-icon-alert" />
                            <h:outputText value="Excluir" />
                        </p:commandLink>
                    </p:column>
                    
                    
                </p:dataTable>
                
                 <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                     <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </h:form>
        </ui:define>
    </ui:composition>

</html>

