<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <!-- Veiculo
                    Placa
                    Cassi
                    Ano
                    Modelo
                        - Marca
                    Cor
                -->
                
               <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="Placa: " for="placa" />
                    <p:inputMask mask="***-9999" id="placa" value="#{veiculoManagedBean.veiculo.placa}" required="true"/>
                    
                    <p:outputLabel value="Chassi: " for="chassi" />
                    <p:inputMask mask="**.**.*****.*.*.******" id="chassi" value="#{veiculoManagedBean.veiculo.chassi}" required="true"/>
                    
                    <p:outputLabel value="Ano" for="ano" />
                    <p:spinner id="ano" value="#{veiculoManagedBean.veiculo.ano}" required="true"/>
                    
                    
                    <p:outputLabel value="Nome da Marca" for="idMarca" />
                    <p:selectOneMenu id="idMarca" value="#{modeloManagedBean.idMarca}">
                        <p:ajax listener="#{modeloManagedBean.OnMarcaChange}" update="modelo" /> 
                        <f:selectItem itemLabel="Select One" itemValue=""/>    
                        <f:selectItems value="#{marcaManagedBean.marcas}"
                                                   var="marca"
                                                   itemLabel="#{marca.nome}"
                                                   itemValue="#{marca.id}"/>  
                       </p:selectOneMenu>
                    
                    <p:outputLabel value="Modelo" for="modelo" />
                    <p:selectOneMenu id="modelo" value="#{veiculoManagedBean.veiculo.modelo.id}">
                            <f:selectItem itemLabel="Select One" itemValue=""/>    
                            <f:selectItems value="#{modeloManagedBean.modelos}"
                                                   var="modelo"
                                                   itemLabel="#{modelo.nome}"
                                                   itemValue="#{modelo.id}"/>  
                       </p:selectOneMenu>
                    
                    
                    <p:outputLabel value="Cor: " for="cor" />
                    <p:selectOneMenu id="cor" value="#{veiculoManagedBean.veiculo.cor.id}">
                        <f:selectItem itemLabel="Select One" itemValue=""/>    
                        <f:selectItems value="#{corManagedBean.cores}"
                                                   var="cor"
                                                   itemLabel="#{cor.nome}"
                                                   itemValue="#{cor.id}"/>  
                    </p:selectOneMenu>
                    
                </h:panelGrid>

                <p:commandButton value="Cadastrar" id="cadastro"  actionListener="#{veiculoManagedBean.CadastraVeiculo}" styleClass="ui-priority-primary" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>

