<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <p:dataTable var="veiculo" value="#{veiculoManagedBean.veiculos}">
                <p:column headerText="Placa">
                    <h:outputText value="#{veiculo.placa}" />
                </p:column>
                <p:column headerText="Chassi">
                    <h:outputText value="#{veiculo.chassi}" />
                </p:column>
                <p:column headerText="Cor">
                    <h:outputText value="#{veiculo.cor.nome}" />
                </p:column>
                <p:column headerText="Marca">
                    <h:outputText value="#{veiculo.modelo.marca.nome}" />
                </p:column>
                <p:column headerText="Modelo">
                    <h:outputText value="#{veiculo.modelo.nome}" />
                </p:column>
            </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>

</html>

