<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel for="cep" value="CEP: " />
                    <p:inputMask id="cep" value="#{enderecoManagedBean.endereco.cep.cepString}" mask="99999-999" required="true"/>
 
                    <p:outputLabel for="bairro" value="Bairro:" />
                    <p:selectOneMenu id="bairro" value="#{enderecoManagedBean.endereco.bairro.idBairro}" required="true">
                    <f:selectItem itemLabel="Selecione..."/>
                    <f:selectItems value="#{bairroManagedBean.bairros}"
                                           var="bairro"
                                           itemLabel="#{bairro.nomeBairro}"
                                           itemValue="#{bairro.idBairro}"/>  
                    </p:selectOneMenu>
            
                    <p:outputLabel for="idTipoLogradouro" value="Tipo de Logradouro: " />
                    <p:selectOneMenu id="idTipoLogradouro" value="#{logradouroManagedBean.idTipoLogradouro}" >
                        <p:ajax listener="#{logradouroManagedBean.AtualizaLogradouros}" update="logradouro" /> 
                        <f:selectItem itemLabel="Select One" itemValue=""/>    
                        <f:selectItems value="#{tipoLogradouroManagedBean.tiposLogradouro}"
                                               var="tipo"
                                               itemLabel="#{tipo.nomeTipoLogradouro}"
                                               itemValue="#{tipo.idTipoLogradouro}"/>  
                    </p:selectOneMenu>
                    
                    <p:outputLabel for="logradouro" value="Logradouro" />
                    <p:selectOneMenu id="logradouro" value="#{enderecoManagedBean.endereco.logradouro.idLogradouro}">
                        <f:selectItem itemLabel="Selecione..."/>    
                        <f:selectItems value="#{logradouroManagedBean.logradouros}"
                                               var="logradouroAtual"
                                               itemLabel="#{logradouroAtual.nomeLogradouro}"
                                               itemValue="#{logradouroAtual.idLogradouro}"/>  
                    </p:selectOneMenu>
                    
                    <p:outputLabel value="Unidade Federativa" for="uf" />
                    <h:selectOneMenu id="uf" value="#{cidadeManagedBean.idUf}" label="Unidade Federativa" >
                        <p:ajax listener="#{cidadeManagedBean.OnUnidadeFederativaChange}" update="cidade" resetValues="true"/>
                        <f:selectItem itemLabel="Selecione o Estado" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{unidadeFederativaManagedBean.ufs}"
                                               var="uf"
                                               itemLabel="#{uf.siglaUnidadeFederativa}"
                                               itemValue="#{uf.idUnidadeFederativa}"/>  
                    </h:selectOneMenu>
                    
                    <p:outputLabel for="cidade" value="Cidade:"  />
                    <h:selectOneMenu id="cidade" value="#{enderecoManagedBean.endereco.cidade.idCidade}" >
                        <f:selectItem itemLabel="Selecione a cidade..."/>
                        <f:selectItems value="#{cidadeManagedBean.cidades}"
                                               var="cidadeAtual"
                                               itemLabel="#{cidadeAtual.nomeCidade}"
                                               itemValue="#{cidadeAtual.idCidade}"/>  
                    </h:selectOneMenu>
                    
                    <p:outputLabel value="Pais: " for="pais" />
                    <h:selectOneMenu id="pais" value="#{enderecoManagedBean.endereco.pais.idPais}" required="true" label="Pais">
                        <f:selectItem itemLabel="Selecione o pais" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{paisManagedBean.paises}"
                                               var="pais"
                                               itemLabel="#{pais.nomePais}"
                                               itemValue="#{pais.idPais}"/>  
                    </h:selectOneMenu>
                    
                    
                </h:panelGrid>

                <p:commandButton value="Cadastrar" id="cadastro"  actionListener="#{enderecoManagedBean.CadastraEndereco}" styleClass="ui-priority-primary" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>

