<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <h:panelGrid columns="2" cellpadding="5">
                    
                    <p:outputLabel for="idTipoLogradouro" value="Tipo de Logradouro: " />
                    <p:selectOneMenu id="idTipoLogradouro" value="#{logradouroManagedBean.idTipoLogradouro}">
                        <f:selectItem itemLabel="Select One" itemValue=""/>    
                        <f:selectItems value="#{tipoLogradouroManagedBean.tiposLogradouro}"
                                               var="tipo"
                                               itemLabel="#{tipo.nomeTipoLogradouro}"
                                               itemValue="#{tipo.idTipoLogradouro}"/>  
                    </p:selectOneMenu>

                    <p:outputLabel value="Nome do Logradouro" for="nomeLogradouro" />
                    <p:inputText id="nomeLogradouro" value="#{logradouroManagedBean.nomeLogradouro}" />
                </h:panelGrid>

                <p:commandButton value="Cadastrar" id="cadastro"  actionListener="#{logradouroManagedBean.CadastraLogradouro}" styleClass="ui-priority-primary" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>

