<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <p:outputLabel for="idTipoLogradouro" value="Tipo de Logradouro: " />
                <p:selectOneMenu id="idTipoLogradouro" value="#{logradouroManagedBean.idTipoLogradouro}">
                    <p:ajax listener="#{logradouroManagedBean.AtualizaLogradouros}" update="logradouros" />
                    <f:selectItem itemLabel="Selecione..."/>
                    <f:selectItems value="#{tipoLogradouroManagedBean.tiposLogradouro}"
                                           var="tipo"
                                           itemLabel="#{tipo.nomeTipoLogradouro}"
                                           itemValue="#{tipo.idTipoLogradouro}"/>  
                </p:selectOneMenu>

                <p:dataTable id="logradouros" var="logradouro" value="#{logradouroManagedBean.logradouros}">
                    <p:column headerText="Id">
                        <h:outputText value="#{logradouro.idLogradouro}" />
                    </p:column>
                    <p:column headerText="Nome">
                        <h:outputText value="#{logradouro.nomeLogradouro}" />
                    </p:column>

                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>

</html>

