<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="Nome: " for="nomeOrgao" />
                    <p:inputText id="nomeOrgao" value="#{orgaoExpeditorManagedBean.orgao.nomeCompleto}" required="true"/>
                </h:panelGrid>
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="Nome Abreviado: " for="nomeAbreviado" />
                    <p:inputText id="nomeAbreviado" value="#{orgaoExpeditorManagedBean.orgao.nomeAbreviado}" required="true"/>
                </h:panelGrid>

                <p:outputLabel value="Unidade Federativa" for="uf" />
                <h:selectOneMenu id="uf" value="#{orgaoExpeditorManagedBean.orgao.uf.idUnidadeFederativa}" required="true" label="Unidade Federativa">
                        <f:selectItem itemLabel="Selecione o Estado" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{unidadeFederativaManagedBean.ufs}"
                                               var="uf"
                                               itemLabel="#{uf.siglaUnidadeFederativa}"
                                               itemValue="#{uf.idUnidadeFederativa}"/>  
                    </h:selectOneMenu>
                    
                <p:commandButton value="Cadastrar" id="cadastro"  actionListener="#{orgaoExpeditorManagedBean.CadastraOrgaoExpeditor}" styleClass="ui-priority-primary" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>

