<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <p:dataTable var="modelo" value="#{modeloManagedBean.modelos}">
                    <p:column headerText="Id">
                        <h:outputText value="#{modelo.id}" />
                    </p:column>
                    <p:column headerText="Marca">
                        <h:outputText value="#{modelo.marca.nome}" />
                    </p:column>
                    <p:column headerText="Nome">
                        <h:outputText value="#{modelo.nome}" />
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>

</html>

