<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                 <!-- 
                 
                 Faz um desses pro Juridico tbm, e no cadastrar.xhtml faz um boto pra escolher fisico/juridico
                 e dai esse boto redireciona pra uma dessas paginas
                 
                 depois tem que fazer da Ordem de Serviço, t terminando de implementar os cols/managers dele, ai d
                 dps e aviso pra vc implementar na interface, quando terminar me 
                 CPF
                 RG
                 DATA EMISSAO RG
                 ORGAO EXPEDITOR
                 ENDERECO
                 ENDERECO COMPLEMENTO
                 NRO ENDERECO
                 GENERO
                 PRIMERO NOM
                 NOME DO MEIO
                 SOBRENOME
                 -->
                 <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel for="cpfCliente" value="CPF: " />
                    <p:inputMask id="cpfCliente" mask="999.999.999-99" value="#{ClienteManagedBean.pf.cpf.cpfString}" >
                        <f:validateLength minimum="14" />
                    </p:inputMask>

                    <p:outputLabel for="rgCliente" value="RG: " />
                    <p:inputMask id="rgCliente" mask="99.999.999-999" value="#{ClienteManagedBean.pf.rg.numero}" >
                        <f:validateLength minimum="8" />
                    </p:inputMask>

                    <p:outputLabel for="inline" value="Data Expedição do RG:" />
                    <p:calendar id="inline" value="#{ClienteManagedBean.pf.rg.dataEmissão}" mode="inline" />

                    <p:outputLabel for="idOrgaoExpeditor" value="Orgão Expeditor: " />
                    <p:selectOneMenu id="idOrgaoExpeditor" value="#{ClienteManagedBean.pf.rg.orgaoExpeditor.idOrgaoExpeditor}" >
                            <f:selectItem itemLabel="Select One" itemValue=""/>    
                            <f:selectItems value="#{orgaoExpeditorManagedBean.orgaosExpeditores}"
                                                   var="orgao"
                                                   itemLabel="#{orgao.nomeAbreviado}/#{orgao.uf.siglaUnidadeFederativa}"
                                                   itemValue="#{orgao.idOrgaoExpeditor}"/>  
                    </p:selectOneMenu>

                    <p:outputLabel for="idEndereco" value="Endereco: " />
                    <p:inputText id="idEndereco" value="#{ClienteManagedBean.pf.enderecoPrincipal.endereco.idEndereco}" />

                    <p:outputLabel for="complementoEndereco" value="Endereco Complemento: " />
                    <p:inputText id="complementoEndereco" value="#{ClienteManagedBean.pf.enderecoPrincipal.complementoEndereco}" />

                    <p:outputLabel for="enderecoNumero" value="Endereco Numero:" />
                    <p:inputText id="enderecoNumero" value="#{ClienteManagedBean.pf.enderecoPrincipal.nroEndereco}" />

                    <p:outputLabel for="idGenero" value="Genero: " />
                    <p:selectOneMenu id="idGenero" value="#{ClienteManagedBean.pf.sexo.id}" >
                            <f:selectItem itemLabel="Select One" itemValue=""/>    
                            <f:selectItems value="#{generoManagedBean.generos}"
                                                   var="genero"
                                                   itemLabel="#{genero.nome}"
                                                   itemValue="#{genero.id}"/>  
                    </p:selectOneMenu>

                    <p:outputLabel for="primeiroNome" value="Primeiro Nome: " />
                    <p:inputText id="primeiroNome" value="#{ClienteManagedBean.cliente.pessoaFisica.nome.primeiroNome}">
                        <f:validateLength minimum="2" />
                    </p:inputText>

                    <p:outputLabel for="nomeDoMeio" value="Nome do Meio: " />
                    <p:inputText id="nomeDoMeio" value="#{ClienteManagedBean.cliente.pessoaFisica.nome.nomeDoMeio}" />

                    <p:outputLabel for="sobrenome" value="Sobrenome: " />
                    <p:inputText id="sobrenome" value="#{ClienteManagedBean.cliente.pessoaFisica.nome.sobrenome}" >
                        <f:validateLength minimum="2" />
                    </p:inputText>

                </h:panelGrid>
                <p:commandButton value="Cadastrar" id="cadastro"  actionListener="#{ClienteManagedBean.CadastraPF}" styleClass="ui-priority-primary" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>

