<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <!-- 
                
                -->
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel for="cnpjCliente" value="CNPJ: " />
                    <p:inputMask id="cnpjCliente" mask="99.999.999/9999-99" value="#{ClienteManagedBean.pj.cnpj.cnpjString}" >
                        <f:validateLength minimum="18" />
                    </p:inputMask>

                    <p:outputLabel for="inline" value="Data Emissão do CNPJ:" />
                    <p:calendar id="inline" value="#{ClienteManagedBean.pj.cnpj.dataEmissão}" mode="inline" />
                    
                    <p:outputLabel for="nomeEmpresa" value="Nome da Empresa: " />
                    <p:inputText id="nomeEmpresa" value="#{ClienteManagedBean.pj.nomeEmpresa}" />

                    <p:outputLabel for="nomeFantasia" value="Nome Fantasia: " />
                    <p:inputText id="nomeFantasia" value="#{ClienteManagedBean.pj.nomeFantasia}" />

                    <p:outputLabel for="idEndereco" value="Endereco: " />
                    <p:inputText id="idEndereco" value="#{ClienteManagedBean.pf.enderecoPrincipal.endereco.idEndereco}" />

                    <p:outputLabel for="complementoEndereco" value="Endereco Complemento: " />
                    <p:inputText id="complementoEndereco" value="#{ClienteManagedBean.pf.enderecoPrincipal.complementoEndereco}" />

                    <p:outputLabel for="enderecoNumero" value="Endereco Numero:" />
                    <p:inputText id="enderecoNumero" value="#{ClienteManagedBean.pf.enderecoPrincipal.nroEndereco}" />
                    
                </h:panelGrid>
                <p:commandButton value="Cadastrar" id="cadastro"  actionListener="#{ClienteManagedBean.CadastraPJ}" styleClass="ui-priority-primary" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>

