<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <p:outputLabel value="Unidade Federativa" for="uf" />
                <h:selectOneMenu id="uf" value="#{cidadeManagedBean.idUf}" required="true" label="Unidade Federativa">
                    <p:ajax listener="#{cidadeManagedBean.OnUnidadeFederativaChange}" update="cidades" />
                    <f:selectItem itemLabel="Selecione o Estado" itemValue="" noSelectionOption="true" />
                    <f:selectItems value="#{unidadeFederativaManagedBean.ufs}"
                                           var="uf"
                                           itemLabel="#{uf.siglaUnidadeFederativa}"
                                           itemValue="#{uf.idUnidadeFederativa}"/>  
                </h:selectOneMenu>

                <p:dataTable id="cidades" var="cidade" value="#{cidadeManagedBean.cidades}">
                        <p:column headerText="Id">
                            <h:outputText value="#{cidade.idCidade}" />
                        </p:column>
                        <p:column headerText="Nome">
                            <h:outputText value="#{cidade.nomeCidade}" />
                        </p:column>

                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>

</html>

