<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
         
        <h:form>

        <p:panelMenu>
            <p:submenu label="Enderecos" >
                <p:submenu label="Bairros" >
                    <p:menuitem value="Cadastrar" url="/endereco/bairro/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/endereco/bairro/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>
                <p:submenu label="Logradouros" >
                    <p:menuitem value="Cadastrar" url="/endereco/logradouro/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/endereco/logradouro/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>
                <p:submenu label="Tipos de Logradouros" >
                    <p:menuitem value="Cadastrar" url="/endereco/tipologradouro/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/endereco/tipologradouro/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>
                <p:submenu label="Cidades" >
                    <p:menuitem value="Cadastrar" url="/endereco/cidade/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/endereco/cidade/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>

                <p:submenu label="Paises" >
                    <p:menuitem value="Cadastrar" url="/endereco/pais/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/endereco/pais/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>

                <p:submenu label="Unidades Federativas" >
                    <p:menuitem value="Cadastrar" url="/endereco/unidadefederativa/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/endereco/unidadefederativa/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>

                <p:menuitem value="Cadastrar" url="/endereco/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                <p:menuitem value="Listar" url="/endereco/listar.xhtml" icon="ui-icon-note" />
            </p:submenu>
            
            <p:submenu label="Clientes" >
                <p:submenu label="Orgao Expeditor do RG" >
                    <p:menuitem value="Cadastrar" url="/cliente/orgao_expeditor/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/cliente/orgao_expeditor/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>
                
                <p:submenu label="Genero" >
                    <p:menuitem value="Cadastrar" url="/cliente/genero/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/cliente/genero/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>
                
                <p:submenu label="Atividade Comercial" >
                    <p:menuitem value="Cadastrar" url="/cliente/atividade_comercial/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/cliente/atividade_comercial/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>
                
                <p:submenu label="Tipo de Telefone" >
                    <p:menuitem value="Cadastrar" url="/cliente/tipo_telefone/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/cliente/tipo_telefone/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>
                
                
                <p:menuitem value="Cadastrar" url="/cliente/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                <p:menuitem value="Listar" url="/cliente/listar.xhtml" icon="ui-icon-note" />
            </p:submenu>

            <p:submenu label="Carros" >
                 <p:submenu label="Cores" >
                    <p:menuitem value="Cadastrar" url="/veiculo/cor/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/veiculo/cor/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>
                 <p:submenu label="Marcas" >
                    <p:menuitem value="Cadastrar" url="/veiculo/marca/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/veiculo/marca/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>
                 <p:submenu label="Modelos" >
                    <p:menuitem value="Cadastrar" url="/veiculo/modelo/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/veiculo/modelo/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>
                <p:menuitem value="Cadastrar" url="/veiculo/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                <p:menuitem value="Listar" url="/veiculo/listar.xhtml" icon="ui-icon-note" />
            </p:submenu>
            
            <p:submenu label="Ordem de Servico" >
                 <p:submenu label="Estado da Ordem de Servico" >
                    <p:menuitem value="Cadastrar" url="/ordem_de_servico/estado_os/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/ordem_de_servico/estado_os/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>
                 <p:submenu label="Tipo de Servico Realizado" >
                    <p:menuitem value="Cadastrar" url="/ordem_de_servico/tipo_servico/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                    <p:menuitem value="Listar" url="/ordem_de_servico/tipo_servico/listar.xhtml" icon="ui-icon-note" />
                </p:submenu>
                
                <p:menuitem value="Cadastrar" url="/ordem_de_servico/cadastrar.xhtml" icon="ui-icon-circle-plus" />
                <p:menuitem value="Listar" url="/ordem_de_servico/listar.xhtml" icon="ui-icon-note" />
            </p:submenu>
        </p:panelMenu>
    </h:form>

</html>

