<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <p:growl autoUpdate="true"/>
        
        <div id="top" class="top">
            <ui:insert name="top">Sistema Gerenciador de Ordem de Serviço - SGOS</ui:insert>
        </div>
        <div>
            <div id="left">
                <ui:include src="menu.xhtml" />
            </div>
            <div id="content" class="left_content">
                <ui:insert name="content" />
            </div>
        </div>
    </h:body>

</html>
