<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="Nome" for="nomeTipoLogradouro" />
                    <p:inputText id="nomeTipoLogradouro" value="#{tipoLogradouroManagedBean.nomeTipoLogradouro}" />
                
                    <p:outputLabel value="Sigla" for="siglaTipoLogradouro" />
                    <p:inputText id="siglaTipoLogradouro" value="#{tipoLogradouroManagedBean.siglaTipoLogradouro}" />
                
                </h:panelGrid>

                <p:commandButton value="Cadastrar" id="cadastro"  actionListener="#{tipoLogradouroManagedBean.CadastraTipoLogradouro}" styleClass="ui-priority-primary" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>

