<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="Placa do carro:" for="placaCarro" />
                    <p:inputText id="placaCarro" value="#{ordemDeServicoManagedBean.os.veiculo.placa}" required="true"/>
                    
                    <p:outputLabel value="Descrição do Problema:" for="descricao" />
                    <p:inputText id="descricao" value="#{ordemDeServicoManagedBean.os.descricao}" required="true"/>

                    <p:outputLabel value="ID do Cliente" for="idCliente" />
                    <p:inputText id="idCliente" value="#{ordemDeServicoManagedBean.os.cliente.idCliente}" required="true"/>

                    <p:outputLabel value="Situação da OS" for="estadoOs" />
                    <p:selectOneMenu id="estadoOs" value="#{ordemDeServicoManagedBean.os.estado.id}">
                        <f:selectItem itemLabel="Select One" itemValue=""/>    
                        <f:selectItems value="#{estadoOSManagedBean.estados}"
                                    var="estado"
                                    itemLabel="#{estado.nome}"
                                    itemValue="#{estado.id}"/>  
                    </p:selectOneMenu>

                    <p:outputLabel for="dataInicio" value="Data de Inicio:" />
                    <p:calendar id="dataInicio" value="#{ordemDeServicoManagedBean.os.dataAbertura}" mode="inline" />

                    <p:outputLabel for="dataFinal" value="Data do final:" />
                    <p:calendar id="dataFinal" value="#{ordemDeServicoManagedBean.os.dataFechamento}" mode="inline" />
                </h:panelGrid>

                <p:commandButton value="Cadastrar" id="cadastro"  actionListener="#{ordemDeServicoManagedBean.CadastraOS}" styleClass="ui-priority-primary" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>

