<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <p:dataTable var="os" value="#{ordemDeServicoManagedBean.ordens}">
                <p:column headerText="Numero">
                    <h:outputText value="#{os.numero}" />
                </p:column>
                
                <p:column headerText="Id do Cliente">
                    <h:outputText value="#{os.cliente.idCliente}" />
                </p:column>
                
                <p:column headerText="Estado">
                    <h:outputText value="#{os.estado.nome}" />
                </p:column>
                
                <p:column headerText="Data de Abertura">
                    <h:outputText value="#{os.dataAbertura}" />
                </p:column>
                
            </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>

</html>

