<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:growl id="growl" autoUpdate="true"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h:form>
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="Nro da OS:" for="nroOS" />
                    <p:inputText id="nroOS" value="#{servicoManagedBean.servico.nroOrdemDeServico}" required="true"/>
                    
                    <p:outputLabel value="Tipo de Servico: " for="tipoServico" />
                    <p:selectOneMenu id="tipoServico" value="#{servicoManagedBean.servico.tipoServico.id}">
                        <f:selectItem itemLabel="Select One" itemValue=""/>    
                        <f:selectItems value="#{tipoServicoManagedBean.tipos}"
                                    var="tipo"
                                    itemLabel="#{tipo.nome}"
                                    itemValue="#{tipo.id}"/>  
                    </p:selectOneMenu>
                    
                    <p:outputLabel value="Tempo:" for="tempo" />
                    <p:spinner id="tempo" value="#{servicoManagedBean.servico.tempo}" suffix="Horas" min="0" stepFactor="0.1" />
 
                    <p:outputLabel value="Valor:" for="valor" />
                    <p:spinner id="valor" value="#{servicoManagedBean.servico.valor}" prefix="R$" min="0" stepFactor="0.01" />
 
                    
                    
                    <p:commandButton value="Cadastrar" id="cadastro"  actionListener="#{servicoManagedBean.cadastraServico}" styleClass="ui-priority-primary" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>

